<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css"></style>
	<link rel="stylesheet" type="text/css" href="home.css">
	    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <p> A&A Software Industry</p>
    </div>
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
  </header>

  <main class="msger-chat">
    </main>
 <div class="bottombar" id="horizontal-style"  style="font-size: 50px;">

  <ul id="horizontal-style"> 
    <li ><a class="fas fa-home"  style="size: 7x; " ></a></li>    
    <li><a class="fas fa-search"  style="size: 7x; " ></a></li>
    <li><a class="fas fa-comment-alt"  style="size: 7x; " ></a></li>

        <li><a class="fas fa-user"  style="size: 7x; " ></a></li>  
  </div>
	<link rel="stylesheet" type="text/css" href="lower.css">

</section>
</body>
</html>